* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f6f7f8;
}

#formContainer,
#listContainer {
  max-width: 550px;
}

.taskComplete {
  text-decoration: line-through;
}

.completeCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #dc3545;
  appearance: none;
  -webkit-appearance: none;
}

.completeCheckbox:checked {
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
}

.columnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.fa-trash-can {
  color: #dc3545;
}

.fa-trash-can:hover {
    color: blue;
  }

#currentCategory {
  color: #adb5bd;
}

.currentCategory {
  color: #d7cbee;
}
