* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f6f7f8;
}

#currentCategory {
  color: #adb5bd;
}

#formContainer,
#listContainer {
  max-width: 600px;
}

.completeCheckbox{
  width: 1.5rem;
  height: 1.5rem;
} 

.taskItem {
  font-size: 1.2rem;
}

.taskComplete {
  text-decoration: line-through;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.fa-trash-can {
  color: #6e7379;
}

.fa-trash-can:hover {
  color: #2e3031;
}
